body {
  margin: 0;
  padding-left: 150px;
  padding-right: 150px;
  padding-bottom: 30px;
  font-family: "Segoe UI", Roboto, sans-serif;
  background: #f3f4f6;
  animation: fadeInDown 0.8s ease-out;
}

.login{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}