.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3b82f6;
  padding: 15px 30px;
  color: white;
}

.nav-links a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.2s ease;
}

.nav-links a:hover {
  text-decoration: underline;
}
